body {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121' height='121' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.wholescreen{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-grp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

h1, h2{
  margin: 25px;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

.sudokugrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2px; /* Adjust gap as needed */
  width: 450px; /* Set a width for the grid */
  height: 450px; /* Set a height for the grid */
  border: 0.5rem solid yellow;
  box-sizing: border-box;
  background-color: yellow;
  border-radius: 0.6rem;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 0.25rem solid darkgreen;
  background-color: rgb(175, 245, 175);
  border-radius: 10px;
  /* Text */
  font-weight: bolder;
  color: darkgreen;
}

.cell-start{
  background-color: rgb(108, 238, 108);
}

.cell:hover{
  border: 5px solid red;
  background-color: aquamarine;
  font-size: 30px;
}

#digits {
  width: 450px;
  height: 50px;
  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 44px; 
  height: 44px;
  border: 1px solid darkgreen;
  margin: 2px;
  border-radius: 6px;
  background-color: yellow;
  /* Text */
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.number:hover{
  width: 50px; 
  height: 50px;
  border: 5px solid darkgreen;
  background-color: yellowgreen;
  border-radius: 15px;
  /* Text */
  font-size: 30px;  
}

.horizontal-line {
  border-bottom: 5px solid yellowgreen;
}
.horizontal-lineOne {
  border-top: 5px solid yellowgreen;
}
.vertical-line {
  border-right: 5px solid yellowgreen;
}
.vertical-lineOne {
  border-left: 5px solid yellowgreen;
}
.btn{
  font-size: 35px;
  font-weight: bold;
  border: yellow;
}

.timer {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: bold;

}

.home{
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3);
  padding: 100px;
  z-index: 100;
}

.hidden {
  display: none;
}

#dialog-box {
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); /* Translucent background */
  padding: 20px;
  border-radius: 50px;
}

h2, p{
  font-size: 50px;
  color: yellow;
}

.custom-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.5);
}

.custom-dialog-content {
  text-align: center;
  color: yellow;
}

.blur-background {
  filter: blur(3px);
}

@media (max-width: 768px) {
  /* When the screen width is less than or equal to 768px */
  body{
    flex-direction: column;
  }
  .btn-grp{
    flex-direction: row;
    gap: 0px;
  }
  
}



