body {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  display: flex;
  background-image: url("./background-6556413_1920.jpg");
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.screen{
  display: flex;
  height: 90vh;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.btn-grp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex: 0.25;
}

h1, h2{
  margin: 25px;
  color: #035277;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

.sudokugrid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2px; /* Adjust gap as needed */
  width: 450px; /* Set a width for the grid */
  height: 450px; /* Set a height for the grid */
  border: 0.5rem solid #f4f4f4;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border-radius: 0.6rem;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 0.25rem solid #11999e;
  background-color: #6decd9;
  border-radius: 10px;
  /* Text */
  font-weight: bolder;
  color: darkblue;
}

.cell-start{
  background-color: rgb(108, 238, 255);
}

.cell:hover{
  border: 5px solid red;
  background-color: aquamarine;
}

#digits {
  width: 450px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 44px; 
  height: 44px;
  border: 1px solid darkblue;
  margin: 2px;
  border-radius: 6px;
  background-color: #f4f4f4;
  /* Text */
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.number:hover{
  width: 50px; 
  height: 50px;
  border: 5px solid darkblue;
  background-color: skyblue;
  border-radius: 15px;
  /* Text */
  font-size: 30px;  
}

.horizontal-line {
  border-bottom: 5px solid darkblue;
}
.horizontal-lineOne {
  border-top: 5px solid darkblue;
}
.vertical-line {
  border-right: 5px solid darkblue;
}
.vertical-lineOne {
  border-left: 5px solid darkblue;
}
.btn{
  font-size: 35px;
  font-weight: bold;
  border: #f4f4f4;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  flex: 0.25;
}

.home{
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3);
  padding: 100px;
  z-index: 100;
}

.hidden {
  display: none;
}

#dialog-box {
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); /* Translucent background */
  padding: 20px;
  border-radius: 50px;
}

h2, p{
  font-size: 50px;
  color: yellow;
}

.custom-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.5);
}

.custom-dialog-content {
  text-align: center;
  color: yellow;
}

.blur-background {
  filter: blur(3px);
}

@media screen and (max-width: 768px) {
  .screen{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
  }
  .sudokugrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 2px; /* Adjust gap as needed */
    width: 360px; /* Set a width for the grid */
    height: 360px; /* Set a height for the grid */
    border: 0.5rem solid #f4f4f4;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 0.6rem;
    align-self: center;
    margin-left: 50px;
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    border: 0.2rem solid #11999e;
    background-color: #6decd9;
    border-radius: 5px;
    /* Text */
    font-weight: bolder;
    color: darkblue;
  }
  
  .cell-start{
    background-color: rgb(108, 238, 255);
  }
  
  .cell:hover{
    border: 5px solid red;
    background-color: aquamarine;
  }
  .btn-grp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .btn{
    font-size: 25px;
    font-weight: bold;
    border: #f4f4f4;
  }
  .horizontal-line {
  border-bottom: 5px solid darkblue;
}
.horizontal-lineOne {
  border-top: 5px solid darkblue;
}
.vertical-line {
  border-right: 5px solid darkblue;
}
.vertical-lineOne {
  border-left: 5px solid darkblue;
}
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .number {
    width: 36px; 
    height: 36px;
    border: 1px solid darkblue;
    margin: 2px;
    border-radius: 6px;
    background-color: #f4f4f4;
    /* Text */
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
  }
  
  .number:hover{
    width: 39px; 
    height: 39px;
    border: 2px solid darkblue;
    background-color: skyblue;
    border-radius: 15px;
    font-size: 30px;  
  }
}